 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 3px;
   width: 100%;
   overflow: hidden!important;
   background-color: rgb(0 0 0 / 53%);
 }
 .modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 40%;
 }
 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
 .m-a {
   margin: 0 auto;
 }
 .cursor {
   cursor: pointer;
 }